.App {
  font-family: sans-serif;
  text-align: center;
}



@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
@import url(//db.onlinewebfonts.com/c/63f874d192fb3892d88d5e26f942b5e2?family=DS-Digital);
@font-face {font-family: "DS-Digital";
  src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot");
  src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.svg#DS-Digital") format("svg");
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* #container-div{

} */


body {
  display: grid;
  /*background-color: #004369;*/
  background-color: #E8B301;
}

.common-color {
  color: #01578C;
  font-family: 'Fugaz One';
}

/* #time-left {
  border: 1rem solid black;
  width: 33%;
  height: 50%;
  border-radius: 25%; 
} */

/* .arrow-ui {
  display: inline-block;
  font-size: 1.75rem;
} */

.incDecContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 0;
  height: 1%
  
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: minmax(100px, auto); */
  grid-template-rows: 15% 20% 30% 5%;
}

.one {
  grid-column: 2/6;
  /* order:-1; */
  
}

h1{
  font-size: 2vw;
}

.two{
  grid-column: 2/6;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
}


.three {
  /* order:4; */
  grid-column: 2/6;
}

.four {
  /* order:5; */
  grid-column: 4/5;
  align-content: center;
}

.five {
  /* order:6; */
  grid-column: 4/5;
  align-items: center;
}


p.arrow-ui {
  font-size: 2rem;
  text-align: justify;
}

header>h1{
  font-size: 3rem;
  text-align: center;
}

.timer-display{
  text-align: center;
  padding-bottom: 10%;
}

.play-pause,.reset{
  /* text-align: center; */
  align-items: center;
}

@media (max-width: 700px) {
  header>h1{
    font-size: 2.25rem;
  }
  p.arrow-ui {
    font-size: 1.5rem;
    text-align: justify;
  }
}